ol{
    list-style: none;
    counter-reset: contador;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
/**Con before se muestra algo antes de cada elemento de la lista*/
ol li::before{
    content: 'Curso ' counter(contador)') ';
    color: #ff6f00;
}
ol li::after{
    content: '.';
}